.form-group row
{
	width:500px;
	padding:0 auto;
	margin:0 auto;
}

.panel-default>.panel-heading {
	background-color: #b47cde;
}

h1{
	color:#b47cde;
}

.jumbotron{
	color:#b47cde;
	background-color: #e5e5e4;
}

#addTrainForm{
	padding:5px;
	margin:5px;
}

.btn-default{
	background-color: #b47cde;
	font-weight:bold;
}
